<li class="d-flex justify-content-between border border-2 p-2 border border-dark public-recipe-box">
          
        <div>
        <a href=<%= "recipes/#{recipe.id}" %>>  
          <h3 class="text-dark"><%= recipe.name %></h3>
          </a>
          <p>by: <%= recipe.user.name %></p>
        </div>
        <div>
          <p>Total food: <%= recipe.recipe_food.length %></p>
          <p>Total price: <%= RecipeFood.total_price(recipe.recipe_food) %>$</p>
        </div>
      
    </li>
