<div class="recipe-details">
<h3><%= @recipe.name %></h3>
    <p><strong>Preparation time:</strong> <%= @recipe.preparation_time %></p>
    <%# cooking time %>
    <p><strong>Cooking time:</strong> <%= @recipe.cooking_time %></p>
    <%# description %>
    <p><strong>Description:</strong> <%= @recipe.description %></p>
    <%# public %>
    <p><strong>Public:</strong> <%= @recipe.public %></p>

</div>