<tr id="food-id-<%= food.id %>" class="food-container">
    <td><%= link_to food.name, food_path(food) %></td>
    <td><%= food.measurement_unit %></td>
    <td>$ <%= food.price %></td>
    <td><%= food.quantity%> <%= food.measurement_unit %>s</td>
    <td>
      <%= button_to "Delete", {:controller => :foods, :action => 'destroy', :id => food.id}, method: :delete, class: "btn btn-danger" %>
    </td>
  </tr>