<tr id="food-id-<%= food.id %>">
    <td><%= link_to food.name, food_path(food) %></td>
    <td><%= food.measurement_unit %></td>
    <td>$ <%= food.price %></td>
    <td><%= food.quantity%> <%= food.measurement_unit %>s</td>
    <td>
      <%= button_to "delete", {:controller => :foods, :action => 'destroy', :id => food.id}, method: :delete %>
    </td>
  </tr>