<%= form_with model: @food, url: foods_path() do |form| %>
    <div class='food-form-container'>
      <%= form.text_field :name, required: true, autofocus: true, placeholder: 'food name', class: "form-input" %>
      <%= form.text_field :measurement_unit, required: true, autofocus: true, placeholder: 'measurement unit', class: "form-input" %>
      <div class="input-with-label">
        <label for="price">Price</label>
      <%= form.number_field :price, required: true, autofocus: true, class: "form-input", placeholder: 'Price'%>
      </div>
      <div class="input-with-label">
        <label for="quantity">Quantity</label>
      <%= form.number_field :quantity, required: true, autofocus: true, class: "form-input", placeholder: 'Quantity' %>
      </div>
      <%= form.submit "Add food", class: "form-button" %>
    </div>
  <% end %>