<main>
<div class="container">
<h1>shopping list to prepare: <%= @recipe.name %></h1>


<table id="foods">
  <thead>
    <tr>
      <th>Food</th>
      <th>Available Quantity</th>
      <th>Required Quantity</th>
      <th>Missing Quantity</th>  
      <th>Unit value</th>
      <th>Subtotal</th>
    </tr>
  </thead>
    <tbody>
    <% grand_total = 0  %>
    <% @recipe.recipe_food.each do |recipe_food| %>
    <% missing = recipe_food.quantity - recipe_food.food.quantity  %>
      <% if missing > 0 %>
        <% subtotal = missing * recipe_food.value  %>
        <% grand_total += subtotal  %>
        <tr>
            <td><%= recipe_food.food.name %></td>
            <td><%= recipe_food.food.quantity %> <%= recipe_food.food.measurement_unit %>s</td>
            <td><%= recipe_food.quantity %> <%= recipe_food.food.measurement_unit %>s</td>
            <td> <%= missing %> <%= recipe_food.food.measurement_unit %>s</td>
            <td>$ <%= recipe_food.value %></td>
            <td> <%= subtotal %> </td>
        </tr>
      <% end %>
    <% end %>
    <h3>Grand total: $<%= grand_total %></h3>
  </tbody>
</table>
<br>
<a href= <%= "/recipes/#{@recipe.id}" %>>
<button>Back to recipe</button>
</a>
</div>
</main>